/*------------ Sobre Nosotros     MOVIL  ---------------*/
/* #nosotros{
    background-color: royalblue; le damos un color de fondo a la sección
    display: grid;
}

#nosotros h2, #nosotros h3{
    color: white;
    text-transform: uppercase;
    padding-top: 0.5em;
    text-align: center;
    justify-self: center;
}

.contenedor {
    display: grid;
}

.historia {
    justify-self: center;
}

.parrafo_nosotros{
    text-align: justify;
    color: white;
    width: 80vw;
}

.tablet {
    display: grid;
}

.btn_saber{
    justify-self: center;
    padding: 10px, 20px;
    margin-top: 1em;  ponemos esta medida ya que es responsive
    margin-bottom: 2em;  1em equivaldria a 20px 
    text-transform: uppercase;
    transition: all 0.2s;  lo que tarda en hacer el cambio de color 
    font-size: 20px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
}

.btn_saber:hover {  le decimos que cambie de color cuando pase por encima 
    background-color: darksalmon;
    border: 2px solid darksalmon;
    color:white;
}

.opiniones{
    justify-self: center;
    width: 80vw;
    background-color:cornflowerblue;
    display: grid;
    margin-bottom: 2em;
}

.opiniones p {
    width: 60vw;
    justify-self: center;
    color: white;
}

.img_op{
    width: 35%;
    margin-top: 1em;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
} */

 /*----------------------------sobre nosotros      TABLET  ------------------------*/
 /*    .contenedor {
        width: 90vw;
    }

    .historia {
        display: grid;
        grid-template-columns: repeat(2,1fr );   ponemos un grid de 2 columnas simple
    }

    .parrafo_nosotros {
        width: 30vw;
        margin-left: 2em;
    }

    .btn_saber {
        justify-self: left; lo movemos a la izquierda
        margin-left: 4em;
    }
 
    .opiniones {
        float: right; le damos un float para que quede por encima del contenedor
        display: grid; 
        grid-template-areas: "a nombre"
                            "c c";
        justify-content: center; 
        width: 50vw; 
        height: 35vh;
        margin-top: 4em;                 
    }

    .opiniones p {
        width: 35vw;
    }

    #nombre {
        display: grid;
        align-self: center;
    }

    .opiniones p{
        grid-area: c;
    }

    .img_op {
        grid-area: a;
        width: 12vw;
        justify-self: left; 
    } */

    /*------------------  Sección Nosotros   WEB -----------------*/
/*     #nosotros {
        height: 580px ;
    }
    .historia {
        height: 60vh;
        display: grid;
        grid-template-areas: "a b"; 
    }

    .tablet {
        grid-area: a;
        justify-content: center;
        align-content: center;
    }

    .btn_saber {
      justify-self: center;
      margin-left: 0px;
    }

    .opiniones {
        width: 40vw;
        height: 40vh;
        margin-left: 5em;
    }

    .img_op {
        width: 100px;
    } */