/*-----------MOVILES-------------*/

.contenedor {
    margin-bottom: 2em;
}

.div_filtrado {
    list-style: none;
    text-align: left;
}

.img {
    width: 100%;
}

.btn_residuos{
    transition: all 0.2s; /* lo que tarda en hacer el cambio de color */
    font-size: 20px;
    border: 2px solid darkgray;
    color: darkgray;
    text-decoration: none;
    padding: 0.5em 1em;
    text-transform: uppercase;
    margin-left: 30%;
}

.btn_residuos:hover { /* le decimos que cambie de color cuando pase por encima */
    background-color: darksalmon;
    border: 2px solid darksalmon;
    color: white;
}

/*-------TABLET----------*/
@media only screen and (min-width: 600px){

    .img{
        width: 80%;
        margin-left: 0%;
    }

    .contenedor {
        margin-left: 15%;
        margin-right: 10%;
        margin-bottom: 4em;
    }

    .btn_residuos{
        margin-left: 5%;
    }
    .txt_filtrado {
        font-size: 20px;
        text-align: left;
    }
}

/*-------PC----------*/
@media only screen and (min-width: 1200px){
  
    .img {
        width: 35%;
        float: right;
        margin-left: 10%;
        
    }

    .img_in {
    display: none;
    }

    .btn_residuos{
        margin-left: 5%;
    }

    .contenedor {
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 4em;
    }

    .txt_filtrado {
        font-size: 20px;
        text-align: left;
    }

    footer {
        margin-top: 10%;
    }
}