/*-----------MOVILES-------------*/
h1 {
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}
#gestion {
    margin-bottom: 2em;
}

#gestion img {
    width: 100%;
}

#gestion li{
    list-style: url(../svg/pagelines-brands.svg);
}

/*------------ Residuos  e iniciativas  -------------------*/

.contenedor img {
    width: 80%;
    justify-self: center;
}

.contenedor {
    display:flex; /*Establece un contenedor en bloque, similar a block (ocupa todo el ancho del padre).*/
    flex-direction: column; /*Establece la dirección del eje principal en vertical.*/
    align-items: center; /*Usada para alinear los ítems del eje secundario (por defecto, el vertical).*/
    row-gap: 2em; /*le ponemos distancia entre los items*/
}

.item {
    display: grid;
}
.item1 li{
    list-style: none;
}

.btn_residuos{
    transition: all 0.2s; /* lo que tarda en hacer el cambio de color */
    font-size: 20px;
    border: 2px solid darkgray;
    color: darkgray;
    text-decoration: none;
    padding: 0.5em 1em;
    text-transform: uppercase;
}

.btn_residuos:hover { /* le decimos que cambie de color cuando pase por encima */
    background-color: darksalmon;
    border: 2px solid darksalmon;
    color: white;
}

/*-------TABLET----------*/
@media only screen and (min-width: 600px){

    
}

/*-------PC----------*/
@media only screen and (min-width: 1200px){
  
   
}