
    
    /*------------------------------formulario--------------------------------------*/
    
            
            
    .contenedor2 {
        width: 100%;
        margin-top: 10px;
        display: flex;
        border-radius: 4px;
    }
    
    .contacto {
        width: 100%;
        display: inline-block;
        display: flex;
        flex-direction: column;
        margin-left: 0%;
        margin-right: 0%;
    }
    /*Si el contenido del formulario es valido*/
    #form1 :valid {
        border: 1px solid rgb(97, 204, 97);
    }
    
    #form1 :invalid {
        border: 1px solid rgb(221, 46, 34);
    }

    :focus {
        color: rgb(8, 8, 8);
        background-color: rgb(200, 225, 230);
        font-size: medium;
        font-weight: 600;
    }
    
    fieldset {
        border: 1px solid royalblue;
        border-radius: 4px;
        margin-bottom: 3em;
    }

    #obligatorio  {
        margin-bottom: 1em;
        margin-left: 50%;
        color: rgb(255, 60, 0);
    }

    input[type="text"], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    
    }
    
    input[type="tel"], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    input[type="email"], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    
    }

    input[type="date"], select {
        width: 100%;
        padding: 12px 20px;
        margin-top: 8px;
        margin-bottom: 10px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    
    }

    select {
        width: 100%;
        padding: 12px 20px;
        margin-top: 8px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    
    }

    input[type="checkbox"], select {
        margin-bottom: 1em;
    }

    input[type=submit] {
        width: 30%;
        background-color: royalblue;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=submit]:hover {
        background-color: rgb(40, 85, 219);
    }
    
    input[type=submit]:active {
        background-color: blue;
    }
    
    textarea, select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }
    
    input[type="range"], select {
        width: 100%;
    
    }
    
    
    
    /*mapa*/
    
    
    #contenedor3 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 0%;
    margin-right: 0%;
    }
    
    iframe {
    
    height: 20em;
    width: 22.5em;
    
    
    }
    

/*------------TABLET-----------*/
@media only screen and (min-width: 600px){


 
    
    
    /*------------------------------formulario--------------------------------------*/
    
            
            
    .contenedor2 {
        width: 100%;
        margin-top: 10px;
        display: flex;
        border-radius: 4px;
        
    }
    
    .contacto {
        width: 80%;
        display: inline-block;
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
    }
    input[type="text"], select {
        width: 75%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    
    }
    
    input[type="tel"], select {
        width: 75%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    input[type="email"], select {
        width: 75%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    
    }
    
    input[type=submit] {
        width: 15%;
        background-color: royalblue;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=submit]:hover {
        background-color: rgb(40, 85, 219);
    }
    
    input[type=submit]:active {
        background-color: blue;
    }
    
    textarea, select {
        width: 75%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    input[type="range"], select {
        width: 50%;
    
    }

    input[type="date"], select {
        width: 25%;
        padding: 12px 20px;
        margin-top: 8px;
        margin-bottom: 10px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    
    }
    
    /*mapa*/
    
    
    #contenedor3 {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    }
    
    iframe {
    
    height: 25em;
    width: 40em;
    }
    
    }
    
       
    
    





/*------------PC-----------*/
@media only screen and (min-width: 1200px){







/*------------------------------formulario--------------------------------------*/

        
        
.contenedor2 {
    width: 100%;
    margin-top: 10px;
    display: flex;
    border-radius: 4px;
    
}

.contacto {
    width: 80%;
    display: inline-block;
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
}


input[type="text"], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

input[type="tel"], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="email"], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

input[type="date"], select {
    width: 25%;
    padding: 12px 20px;
    margin-top: 8px;
    margin-bottom: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

#hora {
    width: 25%;
    padding: 12px 20px;
    margin-top: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

input[type="checkbox"], select {
    margin-bottom: 1em;
}

input[type=submit] {
    width: 10%;
    background-color: royalblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(40, 85, 219);
}

input[type=submit]:active {
    background-color: blue;
}

textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="range"], select {
    width: 100%;
    margin-bottom: 10px;
}



/*mapa*/


#contenedor3 {
margin-left: 25%;
margin-right: 25%;
display: flex;
flex-direction: column;
margin-top: 20px;
}

iframe {

height: 50em;
width: 50em;
}

}









    
