#servicios h2 {
    text-transform: uppercase;
    font-size: 25px;
}

.servicios {
    display:list-item;
}


/*------------ Sección servicios--------------*/

.servicios {
    display:list-item;
}

.item {
    display: grid;
}

.item img {
    justify-self: center;
}

.p_gray {
    color: gray;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
}

/*------------ servicios Adicionales --------------*/

.adicionales {
    background-color: royalblue;
}

.adicionales h2 {
    color: white;
    padding-top: 50px;
}

.item2 {
    display: grid;
}

.item2 h4 {
    font-size: 20px;
    color: white;
    margin: 5%;
    margin-top: 0px;
}

.item2 img {
    justify-self: center;
    width: 150px;
    margin-bottom: 10px;
}

.p_white {
    text-align: center;
    color: white;
    margin: 5%;
}

/*------------ Otros  servicios --------------*/
.otros {
    display: list-item;
}

.item3 {
    display: grid;
}

.item3 p {
    text-align: center;
}

.item3 img {
    justify-self: center;
}









/*-------------------------------------------version tablet------------------------------------*/
@media (min-width:600px){
  
    }

/*-------------------------------Versión Web-------------------------------------*/
@media only screen and (min-width:1200px){
    
}



