body {
    margin: 0;
}
header {
    width: 100%;
    background:#00587a ;
}

#btn-menu {
    display: none;
}

header label {
    display: block;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid white;

}

header label:hover {
    cursor: pointer;
    background-color:#0f3057 ;
}