body {
    margin: 0;

}
header {
    width: 100%;
    background: blue ;
}

header a img {
    display: inline-flex;
}

.menu {
    display: flex;
}

#btn-menu {
    display: none;
}

header label {
    display: none;
    width: 48px;
    height: 48px;
    padding: 10px;
    
}

header label:hover {
    cursor: pointer;
    
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: inline-flex;
    justify-content: flex-end;
   
}


.menu li a {
    padding: 15px 20px;
    color: black;
    text-decoration: none;
    justify-content: flex-end;
}


.menu li a:hover {
    color: darkorange;

}

@media (max-width: 740px){
 
    header a img {
        display: none;
    }
    header label {
        display: block;
    }

    .menu {
        position: absolute;
        background: #00587a ;
        width: 70%;
        margin-left: -70%;
        transition: all 1s;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li {
        border-top: 1px solid #00587a;
    }
    
    #btn-menu:checked ~ .menu {
        margin: 0;


    }

    

}