
/* seccion sobre nosotros*/
.nosotros{ 
    text-align: left;
    display:block; /* El valor inline-flex hace que el contenedor flexible 
                         sea un elemento "en línea" dentro del elemento "padre" al que pertenezca.
                        Nota: Cuando utilices un prefijo para el tipo de navegador, ponlo en la 
                        propiedad "display" no en el atributo "display". */
    width: 100%;
}
    #div_nosotros{
        width: 60%; /* Le damos tamaño al div para centrarlo */
    }

.h_nosotros {
    text-align: left;
}
p {
    text-align: left;
}
.personal {
    display: flex;
    flex-direction: column;
    direction: ltr;
}