
 /*-------------------- VERSION MOVIL -------------------------------------*/
 
 /*---------------------- inicio -----------------*/

 /* ponemos un selector avanzado para poner un fondo al primer div del body*/
body > div{
    background-image: url('../Imagenes/Portada_movil.png');
    background-repeat:no-repeat;
    height: 600px;
}

.texto1{
    text-align: center;
    padding:  5%;
    font-size: 15px;
    text-transform: uppercase; /*trasformamos en mayusculas*/
    color: white;
}

.texto2{
    padding: 10%;
    text-align: center;
    font-size: 20px;
    color: white;
}
 
body > div > a{
    text-align: end;
}

.btn_cita{
    position: absolute;
    margin-left: 100px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    transition: all 0.2s; /* lo que tarda en hacer el cambio de color */
    font-size: 20px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
}
 
.btn_cita:hover { /* le decimos que cambie de color cuando pase por encima */
     background-color: darksalmon;
     border: 2px solid darksalmon;
     color:white;
}

 /* ---------------Seción informacion---------------*/

#informacion {
    display: block;
}
.titulo1{
    text-align: center;
    text-transform: uppercase;
}
.tabla {
    text-align: center;
}
span{
    color: black;
}
.gris{
    text-align: center;
    color: gray;
}

#telefono{
    color: royalblue;
}

/*--------- Sección Servicios-------------------*/

#servicios h2{
    text-transform: uppercase;
} 
.iconos {
    margin-left: auto;
    margin-right: auto;
}

.parrafo_gris {
    color: gray;
    font-size: 18px;
    text-align: center;
}

.item img {
    display: block;
    margin: auto;
}

.item p {
    text-align: center;
}

.btn_servicios{
    margin-left: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    transition: all 0.2s; /* lo que tarda en hacer el cambio de color */
    font-size: 20px;
    border: 2px solid darkgray;
    color: darkgray;
    text-decoration: none;

}

.btn_servicios:hover { /* le decimos que cambie de color cuando pase por encima */
    background-color: darksalmon;
    border: 2px solid darksalmon;
    color: white;
}

.img_web {
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 20px;
    width: 300px
}

/*------------ Sobre Nosotros---------------*/
#nosotros{
    background-color: royalblue;
}

.white{
    color: white;
    text-transform: uppercase;
    padding-top: 10%;
    text-align: center;
}

.historia h3 {
    color: white;
}

.parrafo_nosotros{
    text-align: center;
    color: white;
    padding-bottom: 5%;
    margin: 0px;


}

.btn_saber{
    margin-left: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    transition: all 0.2s; /* lo que tarda en hacer el cambio de color */
    font-size: 20px;
    border: 2px solid white;
    color: white;
    text-decoration: none; 
}

.btn_saber:hover { /* le decimos que cambie de color cuando pase por encima */
    background-color: darksalmon;
    border: 2px solid darksalmon;
    color:white;
}

.sede{
    margin: 5%;
    padding: 10%;
    background-color:cornflowerblue;
    display: grid;
}

/*--------------opiniones----------------------*/

.opiniones{
    width: 60%;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
}

/*-------------- Equipo -------------------*/

.trabajador1 {
    margin: 5%;
    background-color:whitesmoke;
}

.trabajador2 {
    margin: 5%;
    background-color:whitesmoke;

}

.img_equipo {
    margin-left: 25%;
    padding-top: 30px;
}

.gray{
    color: gray;
    text-align: center;
    padding-bottom: 10px;
}

/*------------------------- Mapa--------------------*/

.i_mapa{
    width:600px;
    height:300px; 
    border: style 0;  
}



/*-------------------------------------------version tablet------------------------------------*/
@media (min-width:600px){
   
    /*--------------------------inicio----------------------------------*/
    body > div{
        background-image: url(../Imagenes/Inicio_Tablet.png); 
    }

    .inicio {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .texto1{
        text-align: justify;
        padding:  1%;
        padding-top: 100px;
        margin-left: 50px;
        font-size: 15px;
    }

    .texto2 {
        margin: 0px;
        padding: 0px;
    }

    body > div > a{
        align-content: center;
    }

    .btn_cita{
        margin-top: 200px;
        margin-left: 45%;
    }

 /* ---------------Seción informacion---------------*/

    #informacion {
        display:flex;
        justify-content: space-between;
        background-color: whitesmoke;
    }
 
 /*----------------------servicios---------------------------*/

    .img_web{
        margin-top: 0%;
        margin-left: 10%;
        width:600px;
    }

    .iconos {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
        width: 70%;
    }

    .parrafo_gris {
        font-size: 20px;
    }
 
    .item {
        padding: 20px;
        text-align: center;
    }

    .boton {
        height: 80px;
    }

    .btn_servicios {
        margin-left: 40%;
    }
 
 /*----------------------------sobre nosotros------------------------*/
 
    .white{
        padding-top: 15px;
        font-size: 25px;
    }

    .historia h3 {
        text-align: left;
        padding-left: 30px;
    }

    .parrafo_nosotros {
        text-align: left;
        margin-left: 30px;
        margin-bottom: 30px;
    }

    .btn_saber {
        margin-left: 40%;
    }

    .sede {
        grid-template-areas: "opiniones nombre"
        "parrafo_nosotros parrafo_nosotros";
    }

    .opiniones {
        grid-area: opiniones;
        width: 100px;
        justify-self: start;
    }

    #nombre {
        grid-area: nombre;
        justify-self: start;
    }

    .parrafo_nosotros {
        margin-top: 20px;
        grid-area: parrafo_nosotros;
        padding: 0px;
    }

/*-------------- Equipo -------------------*/
    #equipo h2 {
        text-transform: uppercase;
        font-size: 25px;
    }

    .trabajador1 {
        float: left;
        margin-left: 10%;
        width: 250px;
    }

    .trabajador2 {
        float: left;
        margin-left: 10%;
        width: 250px;
    }

    .img_equipo {
        margin-left: 20%;
        padding-top: 15px; 
    }

    .gray{
        text-align: center;
    }

/*------------------------- Mapa--------------------*/
    .i_mapa{
        width:1024px;
        height:400px;  
    }

}
/*-------------------------------Versión Web-------------------------------------*/
@media only screen and (min-width:1200px){
    
     /*--------------------------inicio----------------------------------*/
    body > div{
        background-image: url(../Imagenes/Inicio.jpg);   
    }

    .inicio {
        position: relative;
    }

    .texto1{
        position: absolute;
        padding-top: 100px;
        margin-left: 65%;
        font-size: 20px;
    }

    .texto2{
        position: absolute;
        padding:20px;
        margin-left: 65%;
        padding-top: 250px;
    }
  
    .btn_cita{
        position: absolute;
        margin-top: 380px;
        margin-left: 66%;
    }

 /* ---------------Seción informacion---------------*/
    #informacion {
        position: absolute;
            top: 650px;
        box-shadow: 2px 2px 10px #666; /* Le ponemos un sombrado al contenedor
                                            para dar sensación de volumen*/
        width: 900px;
        margin-left: 480px;
        padding-left: 50px;
        padding-right: 50px;
        background-color: white;
    }

/*----------------------servicios---------------------------*/

    #servicios {
        margin-top: 160px;
    }

    #servicios h2 {
        font-size: 35px;
    }

    .padre {
        display: grid;
        grid-template-areas: "iconos imagen";
        height: 550px;
    }

    .iconos {
        justify-self: center;
        align-self: center;
        grid-area: iconos;
        margin-left: 300px;
        width: 600px;
    }

    .imagen {
        grid-area: imagen;
        width: 650px;
        justify-self: start;
    }

    .img_web {
        margin: 0px;
    }

    .item p {
        font-size: 20px;
    }

    .parrafo_gris {
        text-align: center;
        font-size: 20px;
        color: gray;
    }

    .btn_servicios {
        margin: 550px;
    }

/*------------------  Sección Nosotros  -----------------*/

    .contenedor {
       display: inline-flex; 
    }

    .white {
        padding-top: 50px;
    }

    .historia {
        width: 500px;
        margin-left: 400px;
        margin-top: 100px;  
    }

    .historia h3{
        margin: 0px;
        padding-left: 0px;
    }

    .sede {
        width: 400px;
        margin-left: 100px;
        margin-right: 50px;
        padding: 50px;
        padding-top: 0px;       
        margin-top: 50px;
    }

    .parrafo_nosotros {
        margin-left: 0px;
    }

    .btn_saber {
        margin-left: 0px;
        position: absolute;
        margin-top: 50px;   
    }

/*----------------------- Nuestro Equipo ----------------*/
    #equipo h2 {
        font-size: 30px;
        text-transform: uppercase;
    }

   .contenedor_trabajadores {
       margin-left: 400px;
   }

    .trabajador1{
        margin: 15px;
        
    }

    .trabajador2 {
        margin: 15px;
    }

    .img_equipo {
        width: 150px;
        height: 170px;
    }
/*------------------------- Mapa--------------------*/

    .i_mapa{
        width: 1900px;
        height: 500px;
    }

    
}